rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read data, but only authenticated users to write
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}